<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/products/filterpage.css">
    <script src="https://kit.fontawesome.com/ba5854dd19.js"crossorigin="anonymous"></script>
  </head>

  <body>

    <header class="hide"></header>

    <main>

      <h2>Filter Products</h2>

      <section class="filter"></section>

      <section class="buttons">
        <div>
          <button class="apply">Apply <i class="fa-solid fa-check"></i></button>
          <a href="/products"><button>Result (<span></span>)</button></a>
          <button class="clear">Clear <i class="fa-solid fa-xmark"></i></button>
        </div>
      </section>

    </main>

    <footer>
      <a href="/filter"><i class="fa-solid fa-filter"></i></a>
      <i class="fa-solid fa-bars"></i>
    </footer>

    <script src="/js/products/filterpage.js" type="module"></script>

  </body>

</html>