<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/products/productpage.css" />
    <script
      src="https://kit.fontawesome.com/ba5854dd19.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="hide"></header>

    <main>
      <section class="product"></section>

      <h2>Recommended</h2>

      <section class="products"></section>

      <h2>Reviews</h2>

      <section class="reviewblock">
        <div class="writeblock">
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <select id="ratting">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
          <button>Submit</button>
        </div>

        <section class="reviews"></section>
      </section>
    </main>

    <footer>
      <i class="fa-solid fa-bars"></i>
    </footer>

    <script src="/js/products/productpage.js" type="module"></script>
  </body>
</html>
