<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/lists/newproduct.css">
    <script src="https://kit.fontawesome.com/ba5854dd19.js"crossorigin="anonymous"></script>
  </head>

  <body>

    <header class="hide"></header>

    <main>

      <h2>New Product</h2>

      <section class="createblock">

        <section>
          <input id="imgfile" type="file" name="image">
          <label for="imgfile"><img src="" alt=""></label>
        </section>

        <section class="inputblock">
        <div>
          <h3>Name</h3>
          <input type="text" id="name">
        </div>

        <div>
          <h3>Category</h3>
          <select id="category">
            <option value="footballs">Footballs</option>
            <option value="boots">Boots</option>
            <option value="jerseys">Jerseys</option>
          </select>
        </div>

        <div>
          <h3>MRP</h3>
          <input type="text" id="mrp">
        </div>

        <div>
          <h3>Price</h3>
          <input type="text" id="price">
        </div>

        <div>
          <h3>Quantity</h3>
          <input type="text" id="quantity">
        </div>

        <div>
          <h3>Size</h3>
          <select id="size">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XL</option>

          </select>
        </div>

        <div>
          <h3>Description</h3>
          <textarea id="description" cols="30" rows="10"></textarea>
        </div>

        <button type="submit">Submit</button>

      </section>

      </section>

      <h2>My products</h2>
      
      <section class="products"></section>

    </main>

    <footer>
      <i class="fa-solid fa-bars"></i>
    </footer>

    <script src="/js/lists/newproduct.js" type="module"></script>

  </body>

</html>